{
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts"] }],
    "react/jsx-max-props-per-line": [0, { "maximum": 3, "when": "multiline" }],
    "react/forbid-prop-types": [1],
    "no-constant-condition": ["error", { "checkLoops": false }],
    "max-len": [0, { "code": 90 }],
    "no-undef": 1,
    "no-unused-vars": 1
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
