#root {
  margin-top: 2em;
}

header {
  margin-bottom: 2em;
}

h1.header {
  margin: 0;
}

header > div {
  margin-top: 1em;
}

img#logo {
  width: 3em;
  height: 3em;
}

@media only screen and (min-width: 320px) {
  #title {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 400px) {
  #title > .sub.header {
    font-size: 1.4rem;
  }
}

main {
  margin-top: 3em;
}

footer {
  margin-top: 2em;
  padding-bottom: 2em;
  min-height: 3em;
}

#social {
  text-align: center;
}

#socialButton {
  margin-top: 1em;
}

/* About */
#about h2 {
  margin-top: 1em;
}

#about .MuiButton-root {
  margin-top: 0.5em;
  margin-right: 0.5em;
}