body {
  /* Always show vertical bar to avoid resizes on empty results*/
  overflow-y: scroll;
}

#root {
  padding: 2em 1em;
}

header {
  margin-bottom: 2em;
}

h1.header {
  margin: 0;
}

header > div {
  margin-top: 1em;
}

#title {
  font-size: 1.6rem;
}
img#logo {
  width: 3em;
  height: 3em;
}

@media only screen and (max-width: 600px) {
  #root {
    padding: 1em 0.5em;
  }

  #title {
    padding: 4px 0 0 4px;
  }

  img#logo {
    width: 1.5em;
    height: 1.5em;
  }
}

main {
  margin-top: 3em;
}

footer {
  margin: 2em 0;
  min-height: 3em;
}

#social {
  text-align: center;
}

#socialButton {
  margin-top: 1em;
}

/* About */
#about h2 {
  margin-top: 1em;
}

#about .MuiButton-root {
  margin-top: 0.5em;
  margin-right: 0.5em;
}