:root {
  --gray: #888;
  --white: #fff;
  --black: #000;
  --cat-all-color: #1f647d;
  --cat-health-color: #cc8562;
  --cat-education-color: #3c9d76;
  --cat-environment-color: #3c9d76;
  --cat-society-color: #1f647d;
  --cat-humanitarian-color: #cc8562;
  --cat-accessibility-color: #1f647d;
}

body {
  /* Always show vertical bar to avoid resizes on empty results*/
  overflow-y: scroll;
}

#root {
  padding: 0 1em 2em;
}

#root-container {
  padding: 0;
}

header {
  margin-bottom: 2em;
}

h1.header {
  margin: 0;
}

header > div {
  margin-top: 1em;
}

header a {
  text-decoration: none;
}

#title {
  font-size: 1.6rem;
}

main {
  margin-top: 3em;
}

@media only screen and (max-width: 599px) {
  #root {
    padding: 1em 0.5em;
  }

  #title {
    padding: 4px 0 0 4px;
  }

  #subtitle {
    display: none;
  }

  main {
    margin-top: 2em;
  }
}

footer {
  margin: 2em 0;
  min-height: 3em;
}

#social {
  text-align: center;
}

#socialButton {
  margin-top: 1em;
}

/* About */
#about h2 {
  margin-top: 1em;
}

#about .MuiButton-root {
  margin-top: 0.5em;
  margin-right: 0.5em;
}
