:root {
  --accent-color: #3eda91;
  --accent-dim-color: #81d4ae;
}

#root {
  margin-top: 2em;
}

header {
  margin-bottom: 2em;
}

header>div {
  margin-top: 1em
}

#links .ui.button {
  background: none;
  border: 1px solid gray;
  margin-left: 0.5em
}

@media only screen and (max-width: 575px) {
  #links .ui.button {
    padding-left: 1em;
    padding-right: 1em
  }
}

#title {
  color: #35b87b
}

#title>.sub.header {
  font-size: 1.4rem
}

#title-icon {
  color: #3e692347
}

#header-grid {
  margin-bottom: 1em;
}

main {
  margin-top: 3em
}

footer {
  margin-top: 2em;
  padding-bottom: 2em;
  min-height: 3em;
}

#social {
  text-align: center;
}

h1 {
  font-size: 45px;
}

h2 {
  margin-top: 1.5em;
}

main, p {
  font-size: 18px;
}

a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  border-bottom: 1px solid #0076ff;
}

/*-----------------------------------
  Categories and sortings
*/

.categories {
  margin-top: 5em;
  margin-bottom: 3em
}

@media only screen and (max-width: 767px) {
  .categories {
    margin-top: 3.5em;
    margin-bottom: 2em
  }
}

#root .categories>.ui.button {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 20px;
  color: #4d4d4d;
  background: none;
  margin-bottom: 4px;
  padding: .5em 0.9em;
  border: 1px solid transparent;
  border-radius: 36px;
}

@media only screen and (max-width: 767px) {
  #root .categories>.ui.button {
    font-size: 18px;
    padding: .3em 0.5em;
  }
}

#root .categories>.ui.button:hover, #root .categories>.ui.button.active, .categories>.ui.button.active:hover {
  border-color: gray;
  background: none;
  color: #131210
}

.sorting {
  margin: 3em
}

.sorting>.ui.button {
  background: none;
  border: 1px solid lightgray;
  color: #2f2d25;
  margin-bottom: 4px
}

.sorting>.ui.button:hover, .sorting>.ui.button:focus {
  background-color: var(--accent-dim-color);
  color: #2f2d25;
  margin-bottom: 4px
}

/*-----------------------------------
  Project grid
*/

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.item-grid {
  margin: 0 auto;
}

/*-----------------------------------
  Project cards
*/

.project-item {
  position: relative;
  width: 330px;
  margin-bottom: 20px;
}

.project-item .ui.list>.item>i.icon {
  min-width: 28px;
}

.project-item .ui.list>.item>div.categories {
  text-transform: capitalize;
  font-weight: bold;
  vertical-align: middle;
}

.project-item .ui.icon.project-button {
  background: none
}

.project-item .ui.icon.project-button:hover, .project-item .ui.icon.project-button.active, .project-item .ui.icon.project-button.active:hover {
  background-color: var(--accent-dim-color)
}

.project-item .buttons-row>.left-column {
  padding-right: 2px !important;
}

.project-item .buttons-row>.right-column {
  padding-left: 2px !important;
}

.ui.button.bookmark-button {
  background-color: #ebebeb;
  position: absolute;
  border-radius: 4px;
  margin-right: 0px;
  top: -1px;
  right: -1px;
}

.ui.button.bookmark-button:hover, .ui.button.bookmark-button.active, .ui.button.bookmark-button.active:hover {
  background-color: var(--accent-color);
}